@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;

}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eff0f3;
    color: #0d0d0d;
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 15px;
}

header h1 {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.main__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: #fffffe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
}

.date__input {
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

#btn {
    background-color: #ff8e3c;
    color: #fffffe;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

#btn:hover {
    opacity: 0.8;
}

#result {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

footer span {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


/**** Responsive design ****/

@media screen and (max-width: 472px) {
    .container {
        margin: 0 20px;
    }

    label,
    #result {
        font-size: 20px;
    }
}